<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error">{{error}}</p>
            {% endfor %}
        {% endif %}
        {% for f in form %}
            {{f.label_tags}} {{f}} {{f.errors|striptags}}<br><br>
        {% endfor %}
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'signup' %}">Sign-up</a>
</body>
</html>